* {
  font-family: "Poppins";
  box-sizing: border-box;
  color: #181823;
  margin: 0;
  padding: 0;
}

/* *START* Nav */

/* *START* Nav > TOP  */
nav {
  /* background-color: red; */
  padding:  30px 50px;
  /* padding-bottom: 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-star, .fa-star-half-stroke {
  color: #181823;
}

.user-section{
  display: flex;
  gap: 30px;
  font-size: 14px;
  text-transform: none;
}


.user-section-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nav-brand-image{
  height: 5vw;
  max-height: 25px;
}
/* *END* Nav > TOP  */

/* *START* Nav > Search  */
.search-bar-div {
  margin: 0px 50px;
  position: relative;
  /* paddin */
}

.search-icon{
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(50%);
}


.search-bar{
  width: 100%;
  border: none;
  outline: none;
  background-color: #dedede;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
}
/* *END* Nav > Search  */

/* *START* Nav > Categories  */
.categories-div {
  margin: 20px 50px;
}

.categories-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
  overflow-x: scroll;
}

.categories-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.category-link{
  color: black;
  text-decoration: none;
}
/* *END* Nav > Categories  */
/* *END* Nav */

.margin {
  margin: 0px 50px;
  padding: 0;
}

/* .heroBanner {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  height: 400px;
  background-image: url("../Images/backgrounds/heroBg.png");
  background-size: cover;
  background-color: red;
}
*/

.hero-banner{
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding-right: 50px;
  background-image: url("../Images/backgrounds/heroBg.png");
  background-size: cover;
}

.hero-image{
  height: 400px;
  padding-right: 40px;
}

.random-div{
  background-color: red;
  margin: 50px;
}

.heroImage {
  height: 100%;
  display: inline-block;
}

.hero-text {
  position: relative;
  margin: auto 50px;
  /* width: 600px; */
  text-transform: uppercase;
}

.heroHeading {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}

.buyNowButton {
  margin-top: 30px;
  background-color: #181823;
  color: white;
  border-radius: 0%;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.buyNowButton:hover {
  background-color: white;
  color: #181823;

}



@media (max-width: 1326px) {

  nav {
    padding: 10px 20px;
    padding-top: 20px;
  }

  .search-bar-div, .margin {
    margin: 10px 20px;
  }
  
  .categories-div {
    margin: 20px 20px;
  }

  .categories-list{
    justify-content: flex-start;
    overflow-x: scroll;
  }
  
  .category-item{
    padding-left: 20px;
  }
  
  .category-item:nth-of-type(1){
    padding-left: 0px;
  }



  .icons {
    display: flex;
    gap: 30px;
    /* background-color: red; */
    width: 30%;
    font-size: 20px;
  }


  .hero-image {
    display: none;
  }

  .hero-banner {
    background-image: url("../Images/HeroImage1Mobile.jpg");
    background-position: center;
    padding-left: 20px;
    /* width: 100%; */
  }

  .heroHeading {
    font-size: 1.3rem;
  }

  
  .hero-text {
    margin: 0;
    margin: auto;
    margin-top: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .buyNowButton {
    margin-top: 10px;
  }


}


@media (min-width: 1522px) {

  /* .searchOverlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
} */
  .heroHeading {
    font-size: 3rem;
  }

}

.row-heading{
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 20px;
}

.row{
  margin: 0;
  padding: 0;
}

.row > * {
  padding: 0;
}

.col-lg-3 {
  min-width: 400px;
}

.card-rows{
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}

.product-image-div{
  height: 400px;
  background-color: blue;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.product-image{
  width: 100%;
}

.rating-div{
  margin: 10px 0px;
}

.product-desc-div{
  min-height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-name{
  font-size: 18px;
}

.product-price{
  font-weight: 600;
  font-size: 32px;
  padding-right: 20px;
}

.real-price{
  color: rgb(142, 142, 142);
  text-decoration: line-through;
}

.add-to-cart-btn{
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  background-color: #181823;
  color: white;
  transition: all 0.1s ease-out;
}

.add-to-cart-btn:hover .cart-icon{
  color: #181823;
}

.add-to-cart-btn:hover{
  background-color: #dedede;
}

.cart-icon{
  color: white;
  transition: all 0.1s ease-out;
}

.top-products{
  margin-bottom: 50px;
}


.heading-bold {
  font-weight: bold;
}

.heading-thin {
  font-weight: 300;
}

.car-nav-btn {
  background-color: white;
  outline: none;
  border: none;
}

.car-nav-btn:hover,
.car-nav-btn:active,
.car-nav-btn:focus {
  background-color: rgb(165, 165, 165);
}

.car-head {
  padding-bottom: 35px;
}

.card {
  width: 100%;
  height: 90%;
  border-radius: 0%;
  border-width: 2px;
  border-color:  rgba(150,207,250,1);
  padding:3%;
}


.card-body {
  width: 100%;
  height: 90%;
  background: linear-gradient(180deg, rgba(150,207,250,1) 0%, rgba(192,226,252,1) 73%, rgba(192,226,252,0) 100%);
}

.card-text{
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.card-title{
  font-weight: bold;
  text-transform: uppercase;
}

.card-sub-title{
  font-size: small;
  text-transform: uppercase;
}



.img-fluid {
  padding: 10px 0px;
  height: 70%;
  width: fit-content;
  display: block;
  margin: 0 auto;
  /* padding: 30px 0px; */
  /* text-align: center; */
}

.card-top-row{
  display: flex;
  justify-content: space-between;
}

.card-comment{
  font-size: 12px;
}


/* <!-- *START*  -->
<!-- *END*  --> */

footer {
  padding: 0px 51px;
  margin: 0;
  background: linear-gradient(to right, rgba(97, 184, 241, 1) 0%, rgba(139, 203, 248, 1) 50%, rgba(87, 157, 215, 1) 100%);
}

.footer-link {
  color: black;
}

.top-electronics{
  margin-top: -40px;
}