* {
  font-family: "Poppins";
  box-sizing: border-box;
  color: #181823;
  margin: 0;
  padding: 0;
}

/* *START* Nav */

/* *START* Nav > TOP  */
nav {
  /* background-color: red; */
  padding:  30px 50px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-section{
  display: flex;
  gap: 30px;
  font-size: 14px;
  text-transform: none;
}


.user-section-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nav-brand-image{
  height: 5vw;
  max-height: 25px;
}
/* *END* Nav > TOP  */

/* *START* Nav > Search  */
.search-bar-div {
  margin: 0px 50px;
}

.search-bar{
  width: 100%;
}

/* *END* Nav > Search  */



/* *END* Nav */

.container-fluid {
  padding: 0;
  margin: 0;
}

.heroBanner {
  display: flex;
  /* justify-content: space-between; */
  /* HERERERERE DOWN */
  /* margin: 51px; */
  margin-bottom: 0px;
  height: 400px;
  /* background-color: red; */
  background-image: url("../Images/backgrounds/heroBg.png");
  background-size: cover;
}

.heroImage {
  height: 100%;
  display: inline-block;
}

.heroText {
  position: relative;
  margin: auto 50px;
  /* width: 600px; */
  text-transform: uppercase;
}

.heroHeading {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}

.buyNowButton {
  margin-top: 30px;
  background-color: #181823;
  color: white;
  border-radius: 0%;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.buyNowButton:hover {
  background-color: white;
  color: #181823;

}



@media (max-width: 1326px) {

  nav {
    padding: 10px 20px;
  }


  .icons {
    display: flex;
    gap: 30px;
    /* background-color: red; */
    width: 30%;
    font-size: 20px;
  }


  .heroImage {
    display: none;
  }

  .heroBanner {
    background-image: url("../Images/HeroImage1Mobile.jpg");
    background-position: center;
    padding-left: 20px;
  }

  .heroHeading {
    font-size: 1.3rem;
  }

  .heroText {
    /* position: relative; */
    /* margin: auto 50px; */
    /* width: 600px; */
    margin: 0;
    margin: auto;
    margin-top: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .buyNowButton {
    margin-top: 10px;
  }


}


@media (min-width: 1522px) {

  /* .searchOverlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
} */
  .heroHeading {
    font-size: 3rem;
  }

}

.top-products {
  padding: 0px 51px;
}

.heading-bold {
  font-weight: bold;
}

.heading-thin {
  font-weight: 300;
}

.car-nav-btn {
  background-color: white;
  outline: none;
  border: none;
}

.car-nav-btn:hover,
.car-nav-btn:active,
.car-nav-btn:focus {
  background-color: rgb(165, 165, 165);
}

.car-head {
  padding-bottom: 35px;
}

.card {
  width: 100%;
  height: 90%;
  border-radius: 0%;
  border-width: 2px;
  border-color:  rgba(150,207,250,1);
  padding:3%;
}


.card-body {
  width: 100%;
  height: 90%;
  background: linear-gradient(180deg, rgba(150,207,250,1) 0%, rgba(192,226,252,1) 73%, rgba(192,226,252,0) 100%);
}

.card-text{
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.card-title{
  font-weight: bold;
  text-transform: uppercase;
}

.card-sub-title{
  font-size: small;
  text-transform: uppercase;
}



.img-fluid {
  padding: 10px 0px;
  height: 70%;
  width: fit-content;
  display: block;
  margin: 0 auto;
  /* padding: 30px 0px; */
  /* text-align: center; */
}

.card-top-row{
  display: flex;
  justify-content: space-between;
}

.card-comment{
  font-size: 12px;
}


/* <!-- *START*  -->
<!-- *END*  --> */

footer {
  padding: 0px 51px;
  margin: 0;
  background: linear-gradient(to right, rgba(97, 184, 241, 1) 0%, rgba(139, 203, 248, 1) 50%, rgba(87, 157, 215, 1) 100%);
}

.footer-link {
  color: black;
}

.top-electronics{
  margin-top: -40px;
}