* {
  text-transform: uppercase;
  font-family: "Poppins";
  box-sizing: border-box;
  color: #181823;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 51px;
  position: relative;
  background: linear-gradient(to right, rgba(97, 184, 241, 1) 0%, rgba(139, 203, 248, 1) 50%, rgba(87, 157, 215, 1) 100%);
}

.listItems {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 5px;
  gap: 25px;
  padding-left: 0px;
}

.listItems a {
  color: #181823;
  text-decoration: none;
  font-weight: bold;
}

.navRight {
  color: #181823;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  gap: 25px;
  /* background-color: blue; */
}

.profileAndCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  /* background-color: red; */
}

.fa-user {
  margin-right: 5px;
}

.userName {
  cursor: pointer;
  font-size: 0.8rem;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: white;
  padding: 10px 10px;
}

.fa-magnifying-glass {
  width: 10%;
}

.searchBar>input {
  border: none;
  width: 90%;
  text-align: center;
  font-size: 10px;
  /* transition: 2s; */
}

.searchBar>input:focus {
  outline: none;
  /* width: 40%;
  outline: none;
  position: absolute;
  margin: auto;
  bottom: -100%;
  height: 100px; */
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 31px;
  margin-top: -15.5px;
  /* Half the height */
  margin-left: -85px;
  /* Half the width */
}

.fa-cart-shopping-nav {
  filter: drop-shadow(7px 7px 4px #18182385);
  cursor: pointer;
}

.fa-cart-shopping-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;

  /* border: 1px solid black; */
}


.searchOverlayActive {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
}

.mobileNav {
  display: none;
}

.mobileCategories {
  display: none;
}

.mobileCategoriesHeading {
  font-size: 18px;
  display: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.heroBanner {
  display: flex;
  /* justify-content: space-between; */
  margin: 51px;
  margin-bottom: 0px;
  height: 400px;
  /* background-color: red; */
  background-image: url("../Images/backgrounds/heroBg.png");
  background-size: cover;
}

.heroImage {
  height: 100%;
  display: inline-block;
}

.heroText {
  position: relative;
  margin: auto 50px;
  /* width: 600px; */
  text-transform: uppercase;
}

.heroHeading {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}

.buyNowButton {
  margin-top: 30px;
  background-color: #181823;
  color: white;
  border-radius: 0%;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.buyNowButton:hover {
  background-color: white;
  color: #181823;

}



@media (max-width: 1326px) {
  nav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  .moblieLogo {
    position: static;
    height: 20px;
  }

  .mobileIcons {
    width: 450px;
    cursor: pointer;
  }

  .mobileCategoriesHeading {
    display: block;
    padding: 20px 51px;
    margin: 0;
    font-weight: bold;
  }

  .mobileCategories {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(to right, rgba(97,184,241,1) 0%, rgba(139,203,248,1) 50%, rgba(87,157,215,1) 100%); */
    padding: 0px 51px;
  }

  .mcategories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryHeading {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
    font-size: 10px;
  }

  .mobileCategoriesImage {
    height: 80px;
    aspect-ratio: 1;
    /* background-color: red; */
  }

  .category-electronics {
    background-image: url("../Images/mobile-categories/electronics2.jpg");
    /* background-size: contain; */
    background-position: 55%;
    background-size: 170%;
  }

  .category-clothings {
    background-image: url("../Images/mobile-categories/clothings2.jpg");
    background-color: #01bae6;
    /* background-size: contain; */
    background-position: 55%;
    background-size: 170%;

    /* background-size: contain; */
  }

  .category-books {
    background-image: url("../Images/mobile-categories/books.webp");
    background-color: #01bae6;
    background-size: cover;
    background-position: 50%;
    /* background-size: contain; */
  }

  .category-more {
    background-image: url("../Images/mobile-categories/more.png");
    /* background-color: #01bae6; */
    background-size: cover;
    background-position: 50%;
    background-size: 60%;
    background-repeat: no-repeat;
  }

  .icons {
    display: flex;
    gap: 30px;
    /* background-color: red; */
    width: 30%;
    font-size: 20px;
  }


  .heroImage {
    display: none;
  }

  .heroBanner {
    background-image: url("../Images/HeroImage1Mobile.jpg");
    background-position: center;
    padding-left: 20px;
  }

  .heroHeading {
    font-size: 1.3rem;
  }

  .heroText {
    /* position: relative; */
    /* margin: auto 50px; */
    /* width: 600px; */
    margin: 0;
    margin: auto;
    margin-top: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .buyNowButton {
    margin-top: 10px;
  }


}


@media (min-width: 1522px) {

  /* .searchOverlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
} */
  .heroHeading {
    font-size: 3rem;
  }

}

.top-products {
  padding: 0px 51px;
}

.heading-bold {
  font-weight: bold;
}

.heading-thin {
  font-weight: 300;
}

.car-nav-btn {
  background-color: white;
  outline: none;
  border: none;
}

.car-nav-btn:hover,
.car-nav-btn:active,
.car-nav-btn:focus {
  background-color: rgb(165, 165, 165);
}

.car-head {
  padding-bottom: 35px;
}

.card {
  width: 100%;
  height: 90%;
  border-radius: 0%;
  border-width: 2px;
  border-color:  rgba(150,207,250,1);
  padding:3%;
}


.card-body {
  width: 100%;
  height: 90%;
  background: linear-gradient(180deg, rgba(150,207,250,1) 0%, rgba(192,226,252,1) 73%, rgba(192,226,252,0) 100%);
}

.card-text{
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.card-title{
  font-weight: bold;
  text-transform: uppercase;
}

.card-sub-title{
  font-size: small;
  text-transform: uppercase;
}



.img-fluid {
  padding: 10px 0px;
  height: 70%;
  width: fit-content;
  display: block;
  margin: 0 auto;
  /* padding: 30px 0px; */
  /* text-align: center; */
}

.card-top-row{
  display: flex;
  justify-content: space-between;
}

.card-comment{
  font-size: 12px;
}


/* <!-- *START*  -->
<!-- *END*  --> */

footer {
  padding: 0px 51px;
  margin: 0;
  background: linear-gradient(to right, rgba(97, 184, 241, 1) 0%, rgba(139, 203, 248, 1) 50%, rgba(87, 157, 215, 1) 100%);
}

.footer-link {
  color: black;
}
